.container {
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.parking-card {
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: 4vw;
    margin-right: 4vw;
    cursor: pointer;
}

.parking-card-subtitle {
    float: right;
}

.parking-card-title {
    font-weight: bold;
}