.container {
    padding-top: 4vw;
    padding-bottom: 4vw;
}

.parking-detail {
    // margin-bottom: 2vw;
    margin-left: 4vw;
    margin-right: 4vw;
}

.parking-detail-subtitle {
    //float: right;
}

.parking-detail-title {
    font-weight: bold;
}

.return-button {
    padding-top: 6vw;
    display: flex;
    justify-content: center;
}