<div class="container">
    <div *ngIf="!isLoaded" style="width: 100vw; height: 100vh;">
        <mat-spinner style="margin-top: 20%; margin-right: auto; margin-left: auto" color="accent" diameter="50">
        </mat-spinner>
    </div>
    <mat-card class="parking-detail">
        <mat-card-header>
            <mat-card-title class="parking-detail-title">
                {{ parking.nom }}
            </mat-card-title>
            <mat-card-subtitle class="parking-detail-subtitle">
                {{ parking.statut }}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <span *ngIf="parking.statut !== 'Données non disponibles'">
                Places disponibles : {{ parking.nbPlacesDispo }}
            </span>
            <br>
            <span>Places au total : {{ parking.nbPlacesTotal }}</span>
            <br>
            <br>
            <span style="font-style: italic">Dernière mise à jour à : {{ parking.heureMaj }}</span>
        </mat-card-content>
    </mat-card>
    <div class="return-button">
        <button mat-fab [routerLink]="['/parkings']">
            <mat-icon>home</mat-icon>
        </button>
    </div>
</div>